.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 92px 24px 90px 24px;
  width: 1052px;
  padding: 0 26px;
}

.cover {
  width: 1100px;
  min-height: 757px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/cover.jpg);
  display: inline-block;
  margin-bottom: 179px;
}

.about {
  display: flex;
  column-gap: 72px;
  margin: 146px 24px 0 24px;
  padding: 35px 0 0 47px;
  width: 1052px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 180px 50px 88px 50px;
}

.header-logo-black {
  display: block;
  width: 135px;
  height: 110px;
  margin-right: 143px;
  margin-top: 6px;
}

.header-menu-link {
  font-family: "Raleway", serif;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
}

.header-menu-item {
  list-style-type: circle;
}

.header-menu-list {
  gap: 33px;
  display: flex;
}
.header-menu-item-active {
  list-style: none;
}

.contact {
  font-family: "Raleway", serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}

.cover-title {
  color: #fff;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  vertical-align: middle;
  padding: 165px 50px 25px 50px;
  white-space: nowrap;
}

.span-cover {
  display: block;
  z-index: 2;
  letter-spacing: 4px;
}

.overlay {
  width: 1100px;
  min-height: 757px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.overlay-card {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.text-left {
  margin-top: 10px;
  text-align: left;
}

.text-center {
  text-align: center;
  margin: 25px 345px 20px 286px;
}

.text-right {
  text-align: right;
}

.bottom-text {
  font-family: "Raleway", serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  word-spacing: 18px;
  margin-left: 28px;
}

.button {
  display: inline-block;
  background: none;
  color: #fff;
  font-size: 22px;
  font-family: "Raleway", serif;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 2;
  border: 1px #fff solid;
  margin-left: 78px;
  padding: 12px 32px 11px 31px;
}

.cover-lower {
  display: block;
  margin-top: 110px;
  margin-left: 50px;
}

.lots {
  display: block;
  margin: 0 24px;
}

.black-title {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 30px 40px;
}

.lots-container {
  display: flex;
  column-gap: 25px;
}

.card {
  display: inline-block;
  text-decoration: none;
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.flexbox {
  display: grid;
  row-gap: 243px;
  padding: 51px 40px 48px 40px;
}

.film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-content {
  display: block;
  padding: 51px 40px 48px 40px;
}

.book {
  background-image: url(../images/card-lot-02.jpg);
}

.picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-list-item {
  list-style: none;
}

.card-header {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  width: 254px;
  font-family: "Raleway", serif;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}

.card-text {
  font-family: "Raleway", serif;
  display: flex;
  color: #ffffff;
  width: 254px;
  font-size: 20px;
  font-weight: 400;
  z-index: 2;
}

.picture-text {
  margin-top: 94px;
}

.seemore {
  display: flex;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline solid #000000;
  margin: 30px 102px 148px 40px;
}

.ellipse {
  display: flex;
  border-radius: 50%;
  background-color: #000000;
  width: 240px;
  height: 240px;
}

.header-logo-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
}

.header-logo-white-img {
  width: 148px;
  height: 114px;
}

.blocktext {
  display: flex;
  font-family: "Raleway", serif;
  width: 690px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.text-gap {
  display: grid;
  row-gap: 24px;
}

.logo-and-title {
  display: inline-block;
  align-items: center;
}

.footer-menu-link {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.footer-img {
  width: 48px;
  height: 48px;
}

.footer-logs {
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.address {
  line-height: 24px;
  width: 240px;
}
